/*  ************************ ___ ***********************************************
                         __/_  `.  .-"'"-.
Author: David Calabrese \_,` | \-'  /   )`-')
Date: 04/20/2021         "") `"` DC  \  ((`"`
                        ___Y  ,    .'7 /|
* ******************** (_,___/...-` (_/_/   ***********************************/
/* prettier-ignore */
/* --------------------------------   layout   -------------------------------*/
body { background: var(--light-gradient);
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content { padding: 1em; }
li { list-style: none;}
/* h2, .main-content p, .main-content li { color: white; } */
.circle {
    width: auto;
    max-width: 150px;
    /* not fully supported */
    shape-outside: circle(50%);
    margin: 10px;
    float: left;
}
.future img { float: right; }
.section { align-self: center;  }

/* -----------------------------   Media queries   ---------------------------*/
@media screen and (min-width: 600px) { .circle { max-width: 200px; } }
@media screen and (min-width: 800px) { .circle { max-width: 250px; } }
@media screen and (min-width: 1000px) { .circle { max-width: 300px; } }
@media screen and (min-width: 1200px) { .circle { max-width: 350px; } }
@media screen and (min-width: 1400px) { .circle { max-width: 400px; } }
@media screen and (min-width: 1600px) { .circle { max-width: 450px; } }



